/* RESET E TIPOGRAFIA */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* VARIÁVEIS DE CORES */
:root {
  --cor-primaria: #93b6be;
  --cor-secundaria: #6c757d;
  --texto-cor: #333;
  --branco-cor: #ffffff;
  --botao-cor: #4b7880;
  --botao-hover-cor: #425c61;
}

/* BODY E LAYOUT PRINCIPAL */
body {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

header h2 {
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: var(--branco-cor);
  text-align: center;
  font-size: px;
  text-decoration: underline;
}

/* LOGIN CONTAINER */
.login {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

.username,
.password {
  margin-bottom: 1.5rem;
}

.username label,
.password label {
  display: flex;
  font-weight: bold;
  color: var(--texto-cor);
  margin-bottom: 0.5rem;
}

.username input,
.password input {
  width: 100%;
  padding: 1rem;
  border: 1.5px solid #082927;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.username input:focus,
.password input:focus {
  outline: none;
  border-color: #4b7880;
  box-shadow: 0 0 0 3px rgba(53, 148, 177, 0.2);
}

/*  BOTÃO */
button {
  background-color: var(--botao-cor);
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: var(--botao-hover-cor);
  transform: scale(1.05);
}
